.footer-class{
  width: 100%;
  display: grid;
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	gap: 20px;
  padding: 20px;
  bottom: 0;
}
.referencias{
  border: 2px solid black;
}
.direitos-autorais {
  text-align: center;
  grid-column: span 2;
}
.mostrar-termo{
  display: none;
  text-align: center;
  background: #ccc;
  grid-column: span 2;
}
