/*cunteudo principal*/
.formacao-academica{
	display: grid;
	grid-column: span 2;
	text-align: justify;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
  background: (--background-section-sobre);
}
.formacao-academica h3{
	text-align: center;
	grid-column: span 2;
	box-shadow: rgba(255, 255, 255, 0.953) 0px 2px;
	padding-bottom: 10px;
}

.formacao-academica span{
  font-family: Helvetica, sans-serif;
  font-weight: 700;
}