@keyframes slideIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-conteudo {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
  animation: slideIn 0.6s ease;
  max-height: 80vh;
  overflow-y: auto;
}
#conteudo-do-formulario{
  width: min-content 50%;
  margin: 5% auto;
}
.formulario {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.formulario.ativo {
  display: block;
  opacity: 1;
}
.botao-fechar {
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
.botao-fechar:hover{
  cursor: pointer;
  color: white;
  background: black;
  transition: 0.6s ease-in;
}
.formulario form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.formulario select, input, label, textarea {
  margin: 5px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  border: 0;
}
.formulario input {
  box-shadow: 0 2px black;
}

.formulario button{
  margin: 5px;
  padding: 10px;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.formulario button:hover{
  background: lightgreen;
  transition: 1s;
  cursor: pointer;
}

.formulario ul {
  display: flex;
}
.formulario ul li {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.formulario ul li:hover{
  background: black;
  transition: 0.6s ease;
  color: white;
}
.formulario i {
  padding: 5px;
}

.formulario a {
  color: black;
  text-decoration: none;
}
.formulario a:hover{
  color: white;
}

.error{
  font-weight: 500;
  padding: 5px;
  color: red;
}
