/* #HEADER*/  

.navegacao-superior{
	background: var(--bg-navegacao-topo);
  display: flex;
  justify-content: space-between;
  align-items: center;
	font-size: 18px;
  flex-wrap: wrap;
	position: sticky;
	top: 0;
	z-index: 1000;
}
#botao-menu-site {
	visibility: hidden;
	font-size: 18px;
	padding: 10px;
	background: none;
	border: 0;
}
#botao-menu-site i {
	color: white;
	margin: 0 5px;
}
.menu-navegacao-site {
	display: flex;
	gap: 20px;
}
.menu-ativo {
	display: flex;
	flex-direction: column;
}

.menu-navegacao-site li{
	margin: 5px;
	padding: 1px;
	text-align: center;
	animation: tela-menores 2s left ease-in;
}
@keyframes tela-menores {
	100% {visibility: visible;}
}

.menu-navegacao-site li:hover{
	transition: 0.6s;
}
.menu-navegacao-site li a{
	color: black;
	text-decoration: none;
}
.menu-navegacao-site li a:hover,
.menu-navegacao-site li a:focus {
	color: white;
	animation: focus-line 5s infinite linear;
}

@keyframes focus-line {
	0% {box-shadow: none } 100% {box-shadow: 0 2px black;;}
}
.zona-impacto{
	position: relative;
	background-image: url("../../public/img/imagem-para-o-blog.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	animation: movimentar 25s infinite linear;
}

@keyframes movimentar {
	0% { background-position: 75% 50%} 100% {background-position:  25% 25%;}
	
}
.titulo{
	display: flex;
	flex-direction: column;
	height: 280px;
	justify-content: center;
	align-items: center;
}
.titulo  > h1	{
	text-align: justify;
	color: white;
	margin: 2px;
	animation: entrada-suave 2s ease-in-out;
}

@keyframes entrada-suave {
	from {opacity: 0; transform: (-10);} to {opacity: 1; transform: translateY(0);}
}