
/* #PRINCIPAL*/
.container{
	display: flex;
	flex-direction: column;
}

/*#PRIMEIRA SECAO */
.servicos{
	background: #ccc;
	position: relative;
	width: 100%;
	padding: 20px;
}
.servicos-navegacao {
	display: flex;
	justify-content: space-between;
	width: 100%;
	bottom: 0;
}
/* #SEGUNDA SECAO*/
.portfolio{
	position: relative;
	width: 100%;
	padding: 20px;
	/*height: auto;*/
}

/* #TERCEIRA SECAO*/
.sobre {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	padding: 20px;
}



/*qualidades
.qualidades{
	font-weight: 600;
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: white;
	width: 400px;
}

.animacao-paragrafo{
	opacity: 0;
	
}

.animacao-paragrafoOn{
	opacity: 1;	
	transition: opacity 3s ease-in-out ;
}