
/* #PRINCIPAL*/
.container{
	display: flex;
	flex-direction: column;
}

/*#PRIMEIRA SECAO */
.servicos{
	background: var(--background-section);
	box-shadow: 0px 2px rgba(255, 255, 255, 0.952);
	position: relative;
	width: 100%;
	padding: 2px;
}
.servicos-navegacao {
	box-shadow: 0px 2px rgba(255, 255, 255, 0.952);
	display: flex;
	justify-content: space-between;
	width: 100%;
	bottom: 0;
}
/* #SEGUNDA SECAO*/
.portfolio{
	position: relative;
	width: 100%;
	padding: 2%;
	background: var(--background-section);
	/*height: auto;*/
}

/* #TERCEIRA SECAO*/
.sobre {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	padding: 2%;
	background: var(--background-section);
}
