
/*#CONTEUDO DA SECAO SOBRE*/
.apresentacao {
	width: 100%;
	display: flex;
	background: var(--conteudo-section);
	padding: 10px;
	justify-content: space-between;
}
.apresentacao > div{
	width: 800px;
}

.apresentacao > div{
	text-align: center;
	justify-content: center;
} 
.apresentacao h3 {
	margin-top: 20px;
}

.perfil{
	max-height: 200px;
	max-width: 200px;
	overflow: hidden;
	margin: 0 5px auto;
	border-radius: 50%;
}

.perfil img {
	width: 100%;
	height: 100%;
	max-height: 300px;
	object-fit:cover;
}
.contexto-sobre {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: var(--conteudo-section);
	gap: 20px;
	margin-top: 2px;
}
.experiencia-objetivo h3{
	text-align: center;
	grid-template-rows: auto;
	box-shadow: rgba(255, 255, 255, 0.953) 0px 2px;
}
.experiencia-objetivo p {
	text-indent: 1.5em;
	text-align: justify;
	padding: 10px;
}