
/* css para o layout da pagina*/
#sobre-class{
  display: flex;
}

/* css do menu lateral */
.sider-bar-hobbis{
  align-items: center;
  justify-content: center;
  background-color: #ccff00;
  flex-direction: column;
  width: 30%;
}
.sider-bar-hobbis ul{
  padding: 0;
  margin: 10px;
}

.sider-bar-hobbis li{
  padding: 10px;
  list-style: none;
}

/* centro da pagina onde mostro o conteudo principal*/
.container{
  border: 2px solid black;
  text-align: center;
  width: 70%;
}

#conteudo-pagina{
  border: 2px solid black;
  background: orange;
  height: 100%;
}
#conteudo-pagina img {
  width: 300px;
  height: 200px;
}